<div class="container" >
    <div class="row header">
        <h1 class="title col-sm-12 col-md-12 col-lg-8 col-xl-8">Pocker</h1>
        <mat-form-field class="search col-sm-12 col-md-12 col-lg-4 col-xl-4" floatLabel="always">
            <mat-label  >Pokemon name</mat-label>
            <input matInput  [ngStyle]="{ color: '#000000'}" [formControl]="search" (keydown.enter)="onSearchPokemon()" placeholder="Pikachu or 25">
        </mat-form-field>
    </div>
    <div class="row justify-content-center" *ngIf="isLoading">
        <div class="col-4">
            <span>Loading.... please wait!!</span>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div *ngIf="!isSearching" class="row pokemon__list" (scroll)="onScroll($event)">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" [ngStyle]="{ padding: '5px'}" *ngFor="let pokemon of pokemons" (click)="onDetail(pokemon)">
            <div class="card">
                
                <div class="card__info">
                    <h2 class="color-white" >{{pokemon.name}}</h2>
                    <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" *ngFor="let type of pokemon.types">{{type.type.name}}</span>
                </div>
                <div class="card__img">
                    <img *ngIf="classicMode" [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
                    <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name}}.gif" [alt]="searchPokemon.name">
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="isSearching" class="pokemon__list" (scroll)="onScroll($event)">
        <div (click)="onDetail(searchPokemon)" class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card">
                <img class="card__bg" src="../../../assets/images/pokeball-background.png" alt="pokeball-card" />
                <div class="card__info">
                    <h2 class="color-white">{{searchPokemon.name}}</h2>
                    <span class="color-white {{'bg-color-'+getPrincipalType(searchPokemon.types)}}" *ngFor="let type of searchPokemon.types">{{type.type.name}}</span>                    
                </div>
                <div class="card__img">
                    <img *ngIf="classicMode" [src]="searchPokemon.sprites?.front_default" [alt]="searchPokemon.name">
                    <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{searchPokemon.name}}.gif" [alt]="searchPokemon.name">
                </div>
            </div>
        </div>
    </div> 


</div>
